.title {
  width: 300px;
  hight: 50px;
  background-color: lightblue;
  margin: 30px;
  padding: 5px;
  border: 4px solid black;
  border-radius: 15px;

  display: block;
  margin-left: auto;
  margin-right: auto;

  **font-size: 15px;
  color: darkolivegreen;
  text-align: center * *;
}
